wsn-basic/frames_gif
wsn-basic/utils/__pycache__
wsn-basic/results/model1/frames_gif
wsn-basic/results/model2/frames_gif
wsn-basic/results/model3/frames_gif
wsn-static/utils/__pycache__
wsn-mobile/utils/__pycache__
wsn-target/utils/__pycache__
